<form>
  <div class="form-group">
    <label>Project Id</label>
    <input class="form-control" type="text" ng-model="projectId" ng-init="projectId='{{project.projectId}}'" value="{{project.projectId}}" ng-disabled="inputStatus">
  </div>
  <div class="form-group">
    <label>Project Title</label>
     <input class="form-control" type="text" ng-model="projectTitle" ng-init="projectTitle='{{project.projectTitle}}'" value="{{project.projectTitle}}" ng-disabled="inputStatus">
  </div>
  <div class="form-group">
    <label>Project Feature</label>
     <input class="form-control" type="text" ng-model="projectFeature" ng-init="projectFeature='{{project.projectFeature}}'" value="{{project.projectFeature}}" ng-disabled="inputStatus">
  </div>
  <div class="form-group">
    <label>Technology Used</label>
     <input class="form-control" type="text" ng-model="technologyUsed" ng-init="technologyUsed='{{project.technologyUsed}}'" value="{{project.technologyUsed}}" ng-disabled="inputStatus">
  </div>
  <div class="form-group">
    <label>Project Description</label>
     <input class="form-control" type="text" ng-model="projectDescription" ng-init="projectDescription='{{project.projectDescription}}'" value="{{project.projectDescription}}" ng-disabled="inputStatus">
  </div>
  <button type="submit" class="btn btn-primary" ng-show="saveBtnStatus" ng-click="save()">Submit</button>
</form>