<style>
  input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px  ;
    border-radius: none;
    background-color: #f7f9fc;
    box-sizing: border-box;
}
</style>
<div ng-controller="getprojectCtrl">
  <div>
        <button class="btn btn-info" ng-click="getDetail()" type="button">add new project</button>
  </div>
  <div class="input-group">
       <input type="text" class="form-control" ng-model="content" placeholder="search">
          <span class="input-group-btn">
            <button class="btn btn-info" ng-click="search(content)" type="button">Search</button>
          </span>
    </div>
<div>
  <table class="table table-striped table-inverse">
    <thead>
      <tr>
        <th>Project Description</th>
        <th>Project Feature</th>
        <th>Project Id</th>
        <th>Project Title</th>
        <th>Technology Used</th>
        <th class="center">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects">
        <td>{{project.projectDescription}}</td>
        <td>{{project.projectFeature}}</td>
        <td>{{project.projectId}}</td>
        <td>{{project.projectTitle}}</td>
        <td>{{project.technologyUsed}}</td>
        <td><button class="btn btn-primary" ng-click="getDetail(project.projectId)"><span class="glyphicon glyphicon-eye-open"></span></button>
            <button class="btn btn-primary" ng-click="getDetail(project.projectId)"><span class="glyphicon glyphicon-edit"></span></button>
            <button class="btn btn-primary" ng-click="delete(project.projectId)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
          <td><button class="btn btn-info" ng-disabled="preBtnStatus" ng-click="getPreviousProject()">previous</button></td>
          <td>[{{begin}}-{{end}}] of {{total}}</td>
          <td><button class="btn btn-info" ng-disabled="nextBtnStatus" ng-click="getNextProject()">next</button></td>
        </tr>
    </tfoot>
  </table>

   <div ng-show="status">
    <h3>Project Title</h3><br>
    <input type="text" ng-model="projectTitle" value="{{project.projectTitle}}"><br>
    <h3>Project Id</h3><br>
    <input type="text" value="{{project.projectId}}"><br>
     <h3>Project Description</h3><br>
    <input type="text" ng-model="projectDescription" value="{{project.projectDescription}}"><br>
     <h3>Project Feature</h3><br>
    <input type="text" ng-model="projectFeature" value="{{project.projectFeature}}"><br>
    <h3>Technology Used</h3><br>
    <input type="text" ng-model="technologyUsed" value="{{project.technologyUsed}}"><br>
    <button class="btn btn-info" ng-click="save()">save</button>
  </div>

</div>
</div>