<div>
	<h1>PutEmployee</h1>
</div>

<div class="bs-component" ng-controller="putemployeeCtrl">
	<table class="table table-striped table-hover">
		<tbody>
		  <tr>
            <th>Employee Id</th>
            <td><input type="text" ng-model="empId"></td>
          </tr>
          <tr>
            <th>Employee Name</th>
            <td><input type="text" ng-model="empName"></td>
          </tr>
          <tr>
            <th>Employee Department</th>
            <td><input type="text" ng-model="empDepartment"></td>
          </tr>
          <tr>
            <th>Subjects</th>
            <td><input type="text" ng-model="empSubjects"></td>
          </tr>
  		  <tr>
  		  	<td><button ng-click="update()">Update</button></td>
  		  </tr>
		</tbody>
	</table>
</div>